td {
    padding: 5px;
}

td p {
    margin: 0;
}

tr:nth-child(even) td {
    background-color: rgb(70, 70, 70);
}

tr:nth-child(odd) td {
    background-color: rgb(56, 56, 56);
}

.recent-matches-container {
    display: flex;
    justify-content: center;
}

.recent-matches {
    color: white;
    text-shadow: 0.5px 0.5px 0.5px black;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 90%;
}

.hero-container {
    display: flex;
    align-items: center;
}

.hero-img {
    height: 30px;
    margin-right: 7px;
}

.match-type {
    text-transform: capitalize;
}